/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.mat-mdc-form-field {
  width: 100%;
}

.custom-snackbar {
  background: #4CAF50 !important;
  color: white !important;

  .mat-simple-snackbar-action {
    color: white !important;
  }
}

// Error Snackbar
.error-snackbar {
  background: #f44336 !important;
  color: white !important;
  .mat-simple-snackbar-action {
    color: white !important;
  }
}
